body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(248, 249,250);
    margin-bottom: 20px;
}
.wrapper{
    width: 1200px;
    margin: 0px auto;
    display: flex;  
    justify-content: space-between;
}
.nav-left{
   
}
.nav-list{
    display: flex;
    align-items: center;
    gap: 20px;
}

li{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.nav-right{
    align-items: center;
    display: flex;
}

.cart-button{
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
}
.cart-button:hover {
    transition: all .3s ease;
    background-color: black;
    color: white;
}
.cart-count{
    color: white;
    padding: 5px 8px;
    border-radius: 50%;
    background-color: black;
}
.cart-button:hover .count{
    background-color: white;
    color: black;
}


footer{
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    color: white;
}
.products-container{
    display: flex;
    width: 1200px;
    margin: 0px auto;
    gap:10px;
    flex-wrap: wrap;
}
.image{
    height: 250px;
    width: 250px;
}
#products{
    background-color: #F8F9FA;
    padding: 10px;
    display: flex;
}
.cardd{
    background-color: white;
    padding: 10px;
    margin: 30px 10px;
}
.del-btn{
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.card-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.add-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.add-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.add-form input{
    padding: 10px;
    border-radius: 8px;
}

